<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
	  <tr>                        <!-- row 1   -->
	     <td>10:00</td>           <!-- time    -->
	     <td>Intro</td>           <!-- content -->
	  </tr>
	  <tr>
	     <td>10:30</td>
	     <td>Why the Unix shell?</td>
	  </tr>
	  <tr>
	     <td>10:45</td>
	     <td>Navigating files and directories</td>
	  </tr>
	  <tr>
	     <td>11:30</td>
	     <td>Break</td>
	  </tr>
	  <tr>
	     <td>11:45</td>
	     <td>Working with files and directories</td>
	  </tr>
	  <tr>
	     <td>12:45</td>
	     <td>Feedback and closing remarks</td>
	  </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
		<tr>                        <!-- row 1   -->
		   <td>10:00</td>           <!-- time    -->
		   <td>Recap of day 1 </td>           <!-- content -->
		</tr>
		<tr>                        
		   <td>10:15</td>           
		   <td>Pipes and filters (part 1)</td> 
		</tr>
		<tr>                      
		   <td>11:00</td>          
		   <td>Break</td>        
		</tr>
		<tr>                      
		   <td>11:15</td>          
		   <td>Pipes and filters (part 2)</td>        
		</tr>
		<tr>                      
		   <td>12:00</td>          
		   <td>Finding things</td>        
		</tr>
		<tr>                      
		   <td>12:45</td>          
		   <td>Feedback and closing remarks</td>        
		</tr>    
	</table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
	  <tr>                        <!-- row 1   -->
	     <td>10:00</td>           <!-- time    -->
	     <td>Recap of day 2 </td>           <!-- content -->
	  </tr>
	  <tr>                        
	     <td>10:15</td>           
	     <td>Loops (part 1)</td> 
	  </tr>
	  <tr>                      
	     <td>11:00</td>          
	     <td>Break</td>        
	  </tr>
	  <tr>                      
	     <td>11:15</td>          
	     <td>Loops (part 2)</td>        
	  </tr>
	  <tr>                      
	     <td>11:45</td>          
	     <td>Shell scripting</td>        
	  </tr>
	  <tr>                      
	     <td>12:45</td>          
	     <td>Feedback and closing remarks</td>        
	  </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 (optional)</h3>
    <table class="table table-striped">
		<tr>                        <!-- row 1   -->
		   <td>10:00</td>           <!-- time    -->
		   <td>Additional exercises</td>           <!-- content -->
		</tr>
		<tr>                      
		   <td>11:00</td>          
		   <td>Feedback and closing remarks</td>        
		</tr>    
	</table>
  </div>
</div>
